@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%, 100% { transform: translate(0); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, 2px); }
}

.shake {
  animation: shake 0.5s infinite; /* Вы можете настроить время анимации здесь */
  position: relative; /* Это позволит изображению оставаться на своем месте */
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.date-item {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.date-item:hover {
  background-color: lightblue;
}
